.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-top: 1px solid #ccc;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.search{
  display: flex;
}

.name {
  font-weight: 600;
}

.relation {
  font-weight: 100;
  font-size: small;
}

.actions {
  display: flex;
  align-items: center;
}

.pagination {
  padding: 1em;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.paginationLeft {
  justify-content: flex-start;
}