.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-top: 1px solid #000;
}

.details {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.search{
  display: flex;
}

.name {
  font-weight: 900;
}

.relation {
  font-weight: 100;
  font-size: small;
}
